<div role="tabpanel" class="tab-pane collection-detail {{ collection.name }}-collection" id="collection-detail-{{ collection.name }}" style="backgroud: {{ collection.metadata.color }};">
  <!--<h1>{{ collection.display_name }}</h1>-->
  <table class="table table-hover">
      <thead>
          <tr class="">
          {% for column in columns %}
            <th>{{ column }}</th>
          {% endfor %}
            <th></th>
          </tr>
      </thead>

      <tbody>
        {% for row in rows %}
        <tr>
          {% for entry in row %}
          <td>{{ entry }}</td>
          {% endfor %}
          <td class="status">
            <button type="button" class="btn btn-primary btn-sm download-dataset-options" data-toggle="modal" data-target="#download-modal" data-dataset-id="{{ row.0 }}">
              Download
            </button>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>