{% with columns=collection.table_view_options.column_names rows=collection.table_view_options.rows %}
<div role="tabpanel" class="tab-pane collection-detail {{ collection.name }}-collection" id="collection-detail-{{ collection.name }}" style="backgroud: {{ collection.metadata.color }};">
  <!--<h1>{{ collection.display_name }}</h1>-->
  <table class="collection_detail_datatable display" cellspacing="0"
    width="100%" height="100%" data-col-reorder="true"
    data-paging="false" data-scroll-y="20vh"
    data-scroll-collapse="false">
      <thead>
          <tr>
          {% for column in columns %}
            <th>{{ column }}</th>
          {% endfor %}
            <th>Action</th>
          </tr>
      </thead>
      <tbody data-collection_id="{{ collection.name }}">
        {% for row in rows %}
        <tr data-feature_id="{{ row.0 }}" data-dataset_id="{{ row.1 }}">
          {% for entry in row|slice:"1:-2" %}
          <td>{{ entry }}</td>
          {% endfor %}
          <td>
            {% include 'data_browser/status.html' with dataset=row.0 status=row.7 message=row.8 %}
          </td>
          <td class="status">
            {% include 'data_browser/status.html' with dataset=row.1 status=status=row.7 %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endwith %}
