{% with columns=collection.table_view_options.column_names rows=collection.table_view_options.rows %}
<div role="tabpanel" class="tab-pane collection-detail {{ collection.name }}-collection" id="collection-detail-{{ collection.name }}" style="backgroud: {{ collection.metadata.color }};">
  <!--<h1>{{ collection.display_name }}</h1>-->
  <table class="collection_detail_datatable display" width="100%">
      <thead>
          <tr class="">
          {% for column in columns %}
            <th>{{ column }}</th>
          {% endfor %}
            <th></th>
          </tr>
      </thead>

      <tbody>
        {% for row in rows %}
        <tr>
          {% for entry in row %}
          <td>{{ entry }}</td>
          {% endfor %}
          <td class="status">
            {% include 'data_browser/status.html' with dataset=row.0 status=row|last %}
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endwith %}