{% extends "data_browser/base.html" %}
{% load staticfiles tethys_gizmos %}



{% block app_content %}
  <div id="layout"></div>

  {% gizmo map_view map_view_options %}


  <div id="hidden">

    <!-- Collection Details Tables -->
    <div id="collection-details-container" class="app-content">
      <!--<button id="minimize-collection-details" type="button" class="btn btn-default btn-sm">-</button>-->
      <div id="collection-details-nav">
        <ul class="nav nav-pills nav-justified" role="tablist">
          {% for collection in collections %}
            {% include 'data_browser/details_table_tab.html' with collection=collection %}
          {% endfor %}
        </ul>
      </div>

      <div id="collection-details-content" class="tab-content">
        <div id="table-placeholder" class="text-center" {% if collections %}style="display: none;"{% endif %}>
          <h1>No Collections have been created</h1>
          <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#new-collection-modal">Create Collection</button>
        </div>
        {% for collection in collections %}
          {% include 'data_browser/details_table.html' with collection=collection %}
        {% endfor %}
      </div>
    </div>

    <!-- Metadata Container -->
    <div id="metadata-container">
      <button type="button" class="close" id="close-metadata-btn" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div id="metadata-content"></div>
    </div>

    <!-- Plot Container -->
    <div id="plot-container">
      <div id="plot-placeholder" class="text-center">
        {% gizmo plot_view None %}
        <h1>No datasets have been visualized</h1>
        <div>To visualize a dataset right click on a location on the map and select visualize, or click the View button for a dataset in the table.</div>
      </div>
    </div>
  </div>

  <!-- Download/Filter/Visualize Options Modal -->
  <div class="modal fade" id="options-modal" tabindex="-1" role="dialog" aria-labelledby="options-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="options-content">
        {% gizmo select_input None %}
        {% gizmo date_picker None %}
      </div>
    </div>
  </div>

  <!-- Context Menu -->
  <ul id="details-context-menu" class="dropdown-menu" role="menu" style="display:none" >
      <li><a tabindex="-1" href="#">Download</a></li>
      <li><a tabindex="-1" href="#">Apply Filter</a></li>
      <li><a tabindex="-1" href="#">Visualize</a></li>
      <li class="divider"></li>
      <li><a tabindex="-1" href="#">Delete</a></li>
  </ul>

{% endblock %}

{% block app_actions %}
  <div id="layout-nav">
    <ul class="nav nav-pills nav-justified" role="tablist">
      <li role="presentation" class="nav-tab"><a href="" id="plot-toggle" aria-controls="plot" role="tab" data-toggle="tab">Plot</a></li>
      <li role="presentation" class="nav-tab"><a href="" id="table-toggle" aria-controls="table" role="tab" data-toggle="tab">Table</a></li>
    </ul>
  </div>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'data_browser/js/layout.js' %}" type="text/javascript"></script>
  <script>
    var add_data_url = '{% url 'data_browser:add_data_workflow' %}';
    var delete_feature_url = '{% url 'data_browser:delete_feature_workflow' %}';
    var show_metadata_url = '{% url 'data_browser:show_metadata_workflow' %}';
    var get_download_options_url = '{% url 'data_browser:get_download_options_workflow' %}';
    var get_filter_list_url = '{% url 'data_browser:get_filter_list_workflow' %}';
    var get_filter_options_url = '{% url 'data_browser:get_filter_options_workflow' %}';
    var visualize_dataset_url = '{% url 'data_browser:visualize_dataset_workflow' %}';
    var get_features_url = '{% url 'data_browser:get_features' %}';
    var delete_dataset_url = '{% url 'data_browser:delete_dataset_workflow' %}';
    var services = {% autoescape off %}{{ services }}{% endautoescape %};
    var collections = {% autoescape off %}{{ collections_json }}{% endautoescape %};
    var source_urls = [];
    <!--[{% for service in services %}'{% url 'data_browser:get_features' %}?service={{ service }}', {% endfor %}];-->
  </script>
  <script src="{% static 'data_browser/js/main.js' %}" type="text/javascript"></script>
  <script src="{% static 'data_browser/js/map.js' %}" type="text/javascript"></script>
  <script src="{% static 'data_browser/vendor/ol3-contextmenu/ol3-contextmenu.js' %}" type="text/javascript"></script>
{% endblock %}