{{ form_fields.media }}
{{ form_fields.media.js }}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
  <form id="options-form" action="{{ action }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="uri" value="{{ uri }}">
    <input type="hidden" name="dataset_id" value="{{ dataset_id }}">
    {{  form_fields.as_table }}
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="submit" class="btn btn-primary options-submit" id="{{ options_type }}-options-submit-btn" data-options-type="{{ options_type }}" form="options-form" value="Submit">{{ submit_btn_text }}</button>
</div>
<script>
  setTimeout(function(){$('#options-content').find('.django-select2').each(function(){$(this).djangoSelect2();})}, 200);
</script>
