{{ form_fields.media }}
{{ form_fields.media.js }}

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">{{ title }}</h4>
</div>
<div class="modal-body">
  <form id="options-form" action="{{ action }}" method="post">
    {% csrf_token %}
      <input type="hidden" name="uri" value="{{ uri }}">
    {{  form_fields.as_table }}
  </form>
</div>
<script>
  setTimeout(function(){$('#options-form').find('.django-select2').djangoSelect2();}, 200);
  $('#options-form').find('.django-select2').change(function(){
    var url = $('#options-form').attr('action');
    var data = $('#options-form').serializeArray();
    $.get(url, data)
    .done(function(result){
      if(result.success){
        $('#options-content').html(result.html);
      }
    });
  });
</script>
