{% load staticfiles %}

{% if status == 'downloaded' or status == 'filter applied' %}
  <span class="actions-btn">
    <button type="button" class="btn btn-info btn-sm get-options dataset-action-btn-{{ dataset }}" id="visualize-dataset-options-btn-{{ dataset }}" data-options-type="visualize" data-dataset-id="{{ dataset }}">
      View
    </button>
  </span>
  <span class="actions-btn">
    <button type="button" class="btn btn-success btn-sm export-dataset dataset-action-btn-{{ dataset }}" id="export-dataset-btn-{{ dataset }}" data-dataset-id="{{ dataset }}">
      Export
    </button>
  </span>
  <span class="actions-btn">
    <button type="button" class="btn btn-warning btn-sm get-options dataset-action-btn-{{ dataset }}" id="publish-dataset-btn-{{ dataset }}" data-options-type="publish" data-dataset-id="{{ dataset }}">
      Publish
    </button>
  </span>
{% elif status == 'staged for download' or status == 'failed download' %}
  <button type="button" class="btn btn-primary btn-sm get-options dataset-action-btn-{{ dataset }}" id="retrieve-dataset-options-btn-{{ dataset }}" data-options-type="retrieve" data-dataset-id="{{ dataset }}">
    Retrieve
  </button>
      {% if status == 'failed download' %}
      <a tabindex="0" class="btn btn-sm btn-danger" role="button" data-toggle="popover"
      data-trigger="focus|click" data-placement="left" title="Status Information"
      data-content="{{ message }}"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a>
      {% endif %}
{% endif %}
<img src="{% static 'data_browser/images/loading.gif' %}" id="loading-gif-{{ dataset }}" {% if status != 'pending' %}style="display: none;"{% endif %}>
