{% extends "tethys_apps/app_base.html" %}

{% load staticfiles tethys_gizmos%}

{% block title %}- {{ tethys_app.name }}{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'quest/vendor/ol3-contextmenu/ol3-contextmenu.min.css' %}" rel="stylesheet"/>
  <link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-base.css" />
  <link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-light-theme.css" />
{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}:{{active_project}}{% endblock %}

{% block header_buttons %}
  <div class="header-button dropdown">
    <a class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="glyphicon glyphicon-option-vertical"></span>
    </a>
    <ul id="quest-settings-dropdown-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
      <li><span data-toggle="modal" data-target="#project-modal">Manage Project...</span></li>
      <li><span data-toggle="modal" data-target="#add-provider-modal">Add Data Provider...</span></li>
    </ul>
  </div>
{% endblock %}

{% block app_navigation_items %}
  {% include 'quest/navigation.html' with collections=collections parameters=parameters checkbox_tree=checkbox_tree geom_types=geom_types collection_select_options=collection_select_options new_collection_text_options=new_collection_text_options %}
{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block after_app_content %}
  {{ block.super }}
    <!-- Project Model -->
    <div class="modal fade" id="project-modal" tabindex="-1" role="dialog" aria-labelledby="project-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="add-features-title">Manage Project</h4>
          </div>
          <div class="modal-body">
            <form id="change-project-form" action="{% url 'quest:new_project_workflow' %}" method="post">
              {% csrf_token %}
              <div id="change-project-select-div"{% if true %}style="display: none;"{% endif %}>
                {% gizmo project_select_options %}
                <h4>Create New Project</h4>
                <hr>
              </div>
              {% gizmo new_project_name_text_options %}
            </form>
          </div>
          <div class="modal-footer">
            <button id='change-project-submit' type="submit" class="btn btn-primary" form="change-project-form" value="Submit">Submit</button>
          </div>
        </div>
      </div>
    </div>

 <!-- Provider Model -->
    <div class="modal fade" id="add-provider-modal" tabindex="-1" role="dialog" aria-labelledby="project-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="add-provider-title">Add Data Provider</h4>
          </div>
          <div class="modal-body">
            <form id="data-provider-form" action="{% url 'quest:add_dataprovider_workflow' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="data-provider-url">Data Provider URL</label>
                <input type="text" class="form-control" id="data-provider-url" name="data-provider-url" placeholder="Http://...">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button id='data-provider-submit' type="submit" class="btn btn-primary" form="data-provider-form" value="Submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'quest/css/main.css' %}" rel="stylesheet"/>
  <script type="text/javascript" src="//golden-layout.com/assets/js/goldenlayout.min.js"></script>
{% endblock %}
