{% extends "tethys_apps/app_base.html" %}

{% load staticfiles tethys_gizmos%}

{% block title %}- {{ tethys_app.name }}{% endblock %}

{% block styles %}
  {{ block.super }}
  <link href="{% static 'quest/vendor/ol3-contextmenu/ol3-contextmenu.min.css' %}" rel="stylesheet"/>
  <link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-base.css" />
  <link type="text/css" rel="stylesheet" href="//golden-layout.com/assets/css/goldenlayout-light-theme.css" />
{% endblock %}

{% block app_icon %}
  {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
  <img src="{% static tethys_app.icon %}">
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}:{{active_project}}{% endblock %}

{% block header_buttons %}
  <div class="header-button dropdown">
    <a class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="glyphicon glyphicon-option-vertical"></span>
    </a>
    <ul id="quest-settings-dropdown-menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
      <li><a data-toggle="modal" data-target="#project-modal">Manage Project...</a></li>
      <li><a data-toggle="modal" data-target="#add-provider-modal">Add Data Provider...</a></li>
    </ul>
  </div>
{% endblock %}

{% block app_navigation_items %}
  {% include 'quest/navigation.html' with collections=collections parameters=parameters checkbox_tree=checkbox_tree geom_types=geom_types collection_select_options=collection_select_options new_collection_text_options=new_collection_text_options %}
{% endblock %}

{% block app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block after_app_content %}
  {{ block.super }}
  <!-- Project Model -->
  <div class="wrapper-modal-editor">
    <div class="row d-flex justify-content-center modalWrapper">
      <div class="modal fade addNewInputs" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAdd" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold text-primary ml-5">Add New Project</h4>
              <button type="button" class="close text-primary" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="inputProjectName">Project Name</label>
                <input type="text" id="inputProjectName" class="form-control validate">
              </div>

              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="inputProjectDesc">Project Description</label>
                <input type="text" id="inputProjectDesc" class="form-control validate">
              </div>

              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="inputCreateDate">Create Date</label>
                <input type="date" id="inputCreateDate" class="form-control" placeholder="Select Date">
              </div>

              <div class="md-form mb-5">
                <label data-error="wrong" data-success="right" for="inputUpdateDate">Update Date</label>
                <input type="date" id="inputUpdateDate" class="form-control" placeholder="Select Date">
              </div>

            </div>
            <!--<div class="modal-footer d-flex justify-content-center buttonAddFormWrapper">-->
              <!--<button class="btn btn-outline-primary btn-block buttonAdd" data-dismiss="modal">Submit-->
                <!--<i class="fas fa-paper-plane-o ml-1"></i>-->
              <!--</button>-->
            <!--</div>-->
            <div class="modal-footer">
            <button id='change-project-submit' type="submit" class="btn btn-primary" form="change-project-form" value="Submit">Submit</button>
          </div>
          </div>
        </div>
      </div>
      <!--<div class="text-center">-->
        <!--<a href="" class="btn btn-info btn-rounded btn-sm" data-toggle="modal" data-target="#modalAdd">Add<i-->
            <!--class="fas fa-plus-square ml-1"></i></a>-->
      <!--</div>-->
      <div class="modal fade modalEditClass" id="modalEdit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold text-secondary ml-5">Edit form</h4>
              <button type="button" class="close text-secondary" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <div class="md-form mb-5">
                <input type="text" id="formNameEdit" class="form-control validate">
                <label data-error="wrong" data-success="right" for="formNameEdit">Name</label>
              </div>

              <div class="md-form mb-5">
                <input type="text" id="formPositionEdit" class="form-control validate">
                <label data-error="wrong" data-success="right" for="formPositionEdit">Position</label>
              </div>

              <div class="md-form mb-5">
                <input type="text" id="formOfficeEdit" class="form-control validate">
                <label data-error="wrong" data-success="right" for="formOfficeEdit">Office</label>
              </div>

              <div class="md-form mb-5">
                <input type="text" id="formAgeEdit" class="form-control validate">
                <label data-error="wrong" data-success="right" for="formAgeEdit">Age</label>
              </div>

              <div class="md-form mb-5">
                <input type="text" id="formDateEdit" class="form-control datepicker">
                <label data-error="wrong" data-success="right" for="formDateEdit">Date</label>
              </div>

              <div class="md-form mb-5">
                <input type="text" id="formSalaryEdit" class="form-control validate">
                <label data-error="wrong" data-success="right" for="formSalaryEdit">Salary</label>
              </div>


            </div>
            <div class="modal-footer d-flex justify-content-center editInsideWrapper">
              <button class="btn btn-outline-secondary btn-block editInside" data-dismiss="modal">Edit
                form
                <i class="fas fa-paper-plane-o ml-1"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="text-center buttonEditWrapper">-->
        <!--<button class="btn btn-info btn-rounded btn-sm buttonEdit" data-toggle="modal" data-target="#modalEdit"-->
          <!--disabled>Edit<i class="fas fa-pencil-square-o ml-1"></i></a>-->
        <!--</button>-->
      <!--</div>-->
      <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDelete"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header text-center">
              <h4 class="modal-title w-100 font-weight-bold ml-5 text-danger">Delete</h4>
              <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body mx-3">
              <p class="text-center h4">Are you sure to delete selected row?</p>

            </div>
            <div class="modal-footer d-flex justify-content-center deleteButtonsWrapper">
              <button type="button" class="btn btn-danger btnYesClass" id="btnYes" data-dismiss="modal">Yes</button>
              <button type="button" class="btn btn-primary btnNoClass" id="btnNo" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="text-center">-->
        <!--<button class="btn btn-danger btn-sm btn-rounded buttonDelete" data-toggle="modal" disabled data-target="#modalDelete"-->
          <!--disabled>Delete<i class="fas fa-times ml-1"></i></a>-->
        <!--</button>-->
      <!--</div>-->
    </div>
      <div class="modal fade" id="project-modal" tabindex="-1" role="dialog" aria-labelledby="project-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="add-features-title">Manage Project</h4>
          </div>
          <div class="modal-body">
            <!--<form id="change-project-form" action="{% url 'quest:manage_project_workflow' %}" method="post">-->
              <!--{% csrf_token %}-->
              <!--<div id="change-project-select-div"{% if true %}style="display: none;"{% endif %}>-->
                <!--{% gizmo project_select_options %}-->
                <!--<h4>Create New Project</h4>-->
                <!--<hr>-->
              <!--</div>-->
              <!--{% gizmo new_project_name_text_options %}-->
              <!--<div id="delete-project">-->
              <!--<h4 class="modal-title" id="delete-project-title">Delete Project</h4>-->
              <!--<hr>-->
              <!--</div>-->
              <!--{% gizmo project_delete_select_options %}-->
            <!--</form>-->

            <div class="card card-cascade narrower">

              <!--Card image-->
              <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

                  <div class="d-flex justify-content-center">
                    <p class="h5 text-primary createShowP">0 row selected</p>
                  </div>


                <!--<div>-->
                  <!--<button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">-->
                    <!--<i class="fas fa-th-large mt-0"></i>-->
                  <!--</button>-->
                  <!--<button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">-->
                    <!--<i class="fas fa-columns mt-0"></i>-->
                  <!--</button>-->
                <!--</div>-->

                <!--<a href="" class="white-text mx-3">Table name</a>-->

                <!--<div>-->
                  <!--<button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">-->
                    <!--<i class="fas fa-pencil-alt mt-0"></i>-->
                  <!--</button>-->
                  <!--<button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">-->
                    <!--<i class="far fa-trash-alt mt-0"></i>-->
                  <!--</button>-->
                  <!--<button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">-->
                    <!--<i class="fas fa-info-circle mt-0"></i>-->
                  <!--</button>-->
                <!--</div>-->
                <div class="text-center">
                  <a href="" class="btn btn-info btn-rounded btn-sm" data-toggle="modal" data-target="#modalAdd">Add<i
                  class="fas fa-plus-square ml-1"></i></a>

                  <button class="btn btn-info btn-rounded btn-sm buttonEdit" data-toggle="modal" data-target="#modalEdit"
                    disabled>Edit<i class="fas fa-pencil-square-o ml-1"></i></a>
                  </button>
                  <button class="btn btn-danger btn-sm btn-rounded buttonDelete" data-toggle="modal" disabled data-target="#modalDelete"
                    disabled>Delete<i class="fas fa-times ml-1"></i></a>
                  </button>
                </div>

              </div>
            </div>
              <!--/Card image-->

              <div class="px-4">

                <div class="table-wrapper">
                  <!--Table-->
                  <table id="dtProject" class="table table-striped table-bordered" cellspacing="0" mb-0>

                    <!--Table head-->
                    <thead>
                      <tr>
                        <th>
                          <input class="form-check-input" type="checkbox" id="checkbox">
                          <label class="form-check-label" for="checkbox" class="mr-2 label-table"></label>
                        </th>
                        <th class="th-lg">
                          <a>Project Name
                            <i class="fas fa-sort ml-1"></i>
                          </a>
                        </th>
                        <th class="th-lg">
                          <a href="">Project Description
                            <i class="fas fa-sort ml-1"></i>
                          </a>
                        </th>
                        <th class="th-lg">
                          <a href="">Create Date
                            <i class="fas fa-sort ml-1"></i>
                          </a>
                        </th>
                        <th class="th-lg">
                          <a href="">Update Date
                            <i class="fas fa-sort ml-1"></i>
                          </a>
                        </th>
                      </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                      <tr>
                        <th scope="row">
                          <input class="form-check-input" type="checkbox" id="checkbox0">
                          <label class="form-check-label" for="checkbox0" class="label-table"></label>
                        </th>
                        <td>Poject Default</td>
                        <td>Project Default Desc</td>
                        <td>01/12/2019</td>
                        <td>01/12/2019</td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <input class="form-check-input" type="checkbox" id="checkbox1">
                          <label class="form-check-label" for="checkbox1" class="label-table"></label>
                        </th>
                        <td>Poject 01</td>
                        <td>Project 01 Desc</td>
                        <td>01/12/2019</td>
                        <td>01/12/2019</td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <input class="form-check-input" type="checkbox" id="checkbox2">
                          <label class="form-check-label" for="checkbox2" class="label-table"></label>
                        </th>
                        <td>Poject 02</td>
                        <td>Project 02 Desc</td>
                        <td>01/12/2019</td>
                        <td>01/12/2019</td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <input class="form-check-input" type="checkbox" id="checkbox3">
                          <label class="form-check-label" for="checkbox3" class="label-table"></label>
                        </th>
                        <td>Poject 03</td>
                        <td>Project 03 Desc</td>
                        <td>01/12/2019</td>
                        <td>01/12/2019</td>
                      </tr>
                    </tbody>
                    <!--Table body-->
                    <!--Table Footer-->
                    <!--<tfoot>-->
                      <!--<tr>-->
                        <!--<th></th>-->
                        <!--<th>-->
                          <!--<a>Project Name-->
                              <!--<i class="fas fa-sort ml-1"></i>-->
                          <!--</a>-->
                        <!--</th>-->
                        <!--<th>-->
                          <!--<a>Project Description-->
                              <!--<i class="fas fa-sort ml-1"></i>-->
                          <!--</a>-->
                        <!--</th>-->
                        <!--<th>-->
                          <!--<a>Create Date-->
                              <!--<i class="fas fa-sort ml-1"></i>-->
                          <!--</a>-->
                        <!--</th>-->
                        <!--<th>-->
                          <!--<a>Update Date-->
                              <!--<i class="fas fa-sort ml-1"></i>-->
                          <!--</a>-->
                        <!--</th>-->
                      <!--</tr>-->
                    <!--</tfoot>-->
                  </table>
                  <!--Table-->
                </div>

          </div>

          <!--<div class="modal-footer">-->
            <!--<button id='change-project-submit' type="submit" class="btn btn-primary" form="change-project-form" value="Submit">Submit</button>-->
          <!--</div>-->
      </div>
    </div>
      </div>
    </div>
    </div>
  </div>


 <!-- Provider Model -->
    <div class="modal fade" id="add-provider-modal" tabindex="-1" role="dialog" aria-labelledby="project-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="add-provider-title">Add Data Provider</h4>
          </div>
          <div class="modal-body">
            <form id="data-provider-form" action="{% url 'quest:add_dataprovider_workflow' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="data-provider-url">Data Provider URL</label>
                <input type="text" class="form-control" id="data-provider-url" name="data-provider-url" placeholder="Http://...">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button id='data-provider-submit' type="submit" class="btn btn-primary" form="data-provider-form" value="Submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content_dependent_styles %}
  {{ block.super }}
  <link href="{% static 'quest/css/main.css' %}" rel="stylesheet"/>
  <script type="text/javascript" src="//golden-layout.com/assets/js/goldenlayout.min.js"></script>
{% endblock %}
