{% load staticfiles %}

<div class="collection {{ collection.name }}-collection">

    <div class="dropdown">
      <h2>{{ collection.display_name }}</h2>
      <button class="btn btn-xs btn-default btn-pills right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><a class="collection-details-menu-item" href="#" data-collection-name="{{ collection.name }}">Details</a></li>
        <li role="separator" class="divider"></li>
        <li><a class="delete-collection" href="{% url 'quest:delete_collection' name=collection.name %}" data-collection-name="{{ collection.name }}">Delete</a></li>
      </ul>
    </div>
    <div>{{ collection.description }}</div>
    <div class="collection-color" data-collection-name="{{ collection.name }}" style="background-color:{{ collection.metadata.color }};"></div>
    <input type="color" value="{{ collection.metadata.color }}" hidden="true">
    <div id="{{ collection.name }}-collection-status" class="collection-status" style="display: none;">
      <span class="collection-status-message">Pending...</span>
      <img src="{% static 'quest/images/loading.gif' %}">
    </div>
</div>