{% with columns=collection.table_view_options.column_names rows=collection.table_view_options.rows %}
<div role="tabpanel" class="tab-pane collection-detail {{ collection.name }}-collection" id="collection-detail-{{ collection.name }}">
  <!--<h1>{{ collection.display_name }}</h1>-->
  <table class="collection_detail_datatable display" cellspacing="0"
    width="100%" height="100%" data-col-reorder="true"
    data-paging="false" data-scroll-y="20vh"
    data-scroll-collapse="false">
      <thead>
          <tr>
          {% for column in columns %}
            <th>{{ column }}</th>
          {% endfor %}
            <th>Action</th>
          </tr>
      </thead>
      <tbody data-collection_id="{{ collection.name }}">
        {% for row in rows %}
          {% with auxiliary_data=row.0 row=row|slice:"1:" %}
          <tr data-feature_id="{{ auxiliary_data.catalog_entry }}" data-dataset_id="{{ auxiliary_data.name }}">
            {% for entry in row %}
            <td>{{ entry }}</td>
            {% endfor %}
            <td class="status">
              {% include 'quest/status.html' with dataset=auxiliary_data.name status=auxiliary_data.status message=auxiliary_data.message %}
            </td>
          </tr>
          {% endwith %}
        {% endfor %}
      </tbody>
  </table>
</div>
{% endwith %}
