{% load staticfiles tethys_gizmos %}

<div id="tabs">

  <!-- Nav tabs -->
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="nav-tab active"><a id="manage-tab" href="#manage" aria-controls="manage" role="tab" data-toggle="tab">Manage</a></li>
    <li role="presentation" class="nav-tab"><a id="search-tab" href="#search" aria-controls="search" role="tab" data-toggle="tab">Search</a></li>
    {# <li role="presentation" class="nav-tab"><a id="tools-tab" href="#tools" aria-controls="tools" role="tab" data-toggle="tab">Tools</a></li> #}
  </ul>

  <div class="tab-content">

    <!-- Manage Tab Pane -->
    <div role="tabpanel" class="tab-pane active" id="manage">
      <h1 class="title">Collections
        <button type="button" id="add-collection-btn" class="btn btn-default" data-toggle="modal" data-target="#new-collection-modal">+</button>
      </h1>
      <div id="collections-list">
      </div>
      <div id="loading-gif-collections" class="collection">
        <h2></h2>
        Loading
        <img src="{% static 'quest/images/loading.gif' %}">
        <div class="collection-status" style="display: none;">
          <span class="collection-status-message">Pending...</span>
          <img src="{% static 'quest/images/loading.gif' %}">
        </div>
      </div>
    </div>

    <!-- Search Tab Pane -->
    <div role="tabpanel" class="tab-pane" id="search">
      <h1 class="title">Filters</h1>

      <form id="search-form" action="{% url 'quest:get_features' %}" method="get">
        {% csrf_token %}

      <div>
        <button id="search-button" class="btn btn-primary" disabled="true" type="submit" form="search-form">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          Search
        </button>
        <img src="{% static 'quest/images/loading.gif' %}" id="loading-gif-search" style="display: none;">
      </div>
      <div>
        <button id="add-to-collection-button" type="button" class="btn btn-success" data-toggle="modal" data-target="#add-features-modal" style="display: none;">
          <span class="glyphicon glyphicon-add" aria-hidden="true"></span>
          Add to Collection
        </button>
      </div>

      <div class="filter-group collapsible-container">
        <div class="collapsible" data-toggle="collapse" data-target="#collapse-parameters" aria-expanded="false" aria-controls="#collapse-parameters">
          <span class="caret"></span>
        </div>
        <h2>Parameters</h2>
        <div class="collapse in" id="collapse-parameters">
          {% gizmo parameters_select_options %}
        </div>
      </div>

      <div class="filter-group collapsible-container">
        <div class="collapsible collapsed" data-toggle="collapse" data-target="#collapse-services" aria-expanded="false" aria-controls="#collapse-services">
          <span class="caret" id="collapse-services-btn"></span>
        </div>
        <h2>Services</h2>
        <div class="collapse" id="collapse-services">
          <div class="checkbox-tree">
            {% if checkbox_tree.title %}{{ checkbox_tree.title }}{% endif %}
            {% if checkbox_tree.sub_trees %}
              <ul class="list-unstyled">
                {% include 'quest/checkbox_sub_tree.html' with checkbox_tree=checkbox_tree id="0" %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="filter-group">
        <div class="collapsible collapsed" data-toggle="collapse" data-target="#collapse-geometry" aria-expanded="false" aria-controls="#collapse-geometry">
          <span class="caret"></span>
        </div>
        <h2>Geometry Type</h2>
        <div class="collapse" id="collapse-geometry">
          {% for geom_type in geom_types %}
            <div class="radio">
              <label>
                <input type="radio" name="geom_type-options" id="geom_type-option-{{ forloop.counter }}" value="{{ geom_type.1 }}">
                {{ geom_type.0 }}
              </label>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="filter-group collapsible-container">
        <div class="collapsible collapsed" data-toggle="collapse" data-target="#collapse-custom-query" aria-expanded="false" aria-controls="#collapse-custom-query">
          <span class="caret"></span>
        </div>
        <h2>Custom Query</h2>
        <div class="collapse" id="collapse-custom-query">
            <table id="custom-query-table" style="border:none">
            <tr>
            <th>Field Name</th>
            <th>Value</th></tr>
            <tr>
            <td> <INPUT TYPE="TEXT" NAME="field" size="15"> </td>
            <td> <INPUT TYPE="TEXT" NAME="value" size="15"> </td>
            </tr>
            </table>
            <button type="button" id="add-custom-row-button"> Add </button>
            <button type="button" id="delete-custom-row-button"> Delete </button>
        </div>
      </div>

      </form>
    </div>


    {% comment future feature for accessing filters %}
    <!-- Tools Tab Pane -->
    <div role="tabpanel" class="tab-pane" id="tools">
      <h1 class="title">Toolbox</h1>
      <div id="tools-list">
        ...
      </div>
    </div>
    {% endcomment %}

  </div>
</div>
